

/***************** HEADER *****************/

#header {
    padding: 15px 0 10px;
	position:relative;
	background-color:transparent !important;
	z-index:10;
 }

#header-wrap {
	//height:234px;
	border:none;
	background-color:transparent !important;
	padding:0;
}

#header #logo {
	background:url(images/sp_logo_2015_web.svg) no-repeat left top;
	width:333px;
	height:178px;
	display:block;
}	

#header #logo img {
	display:none;
}

#social {
	height:25px;
	display:block;
	top:0;
	float:right;
	a {
		&:hover {
			text-decoration:none;
		}

		i.social-icon {
			font-size: 22px;
			margin-left: 5px;
			color: $light_tan;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
			&:hover {
				color:$red;
			}
		}
	}
}

.GBLikeButton {
	float:right;
    position: relative;
    top: 8px;
	margin-left: 10px;
}

#navigation {
    clear: none;
}

#header {
    clear: both;
    padding: 20px 0 10px;
    position: relative;
}

/* 2. MAIN NAVIGATION DROPDOWN MENUS */
@media only screen and (min-width: 768px) {

	#header #navigation #main-nav.nav li ul {
	    margin: 0 0 0 -1px;
	    position: absolute;
	    width: 180px;
	    z-index: 999;

	    border: none !important;
	    background: transparent;

	    &.sf-sub-indicator {
	    background: url(../images/arrow-superfish-right.png) no-repeat;
	    top: 38%;

		li a {
		    color: $link_color !important;
		    font-family: "Brothers", serif;
		    text-shadow: 0;
		    border-bottom: none !important;

		    padding: 10px 15px;
		    width: 150px;
		    background: none;
		    font-size: 0.8em;

			}

			&:hover {
				text-decoration: underline;
				background: none;
				color: #871a1a;
			}
		}
	}
}

  #navigation .nav li ul li.current_page_item a,
  #navigation .nav li ul li.current_page_parent a,
  #navigation .nav li ul li.current-menu-ancestor a,
  #navigation .nav li ul li.current-cat a,
  #navigation .nav li ul li.li.current-menu-item a,
  #navigation .nav li ul li.sfHover a {
    background: none;
  }
  #navigation .nav li ul ul {
    margin: -37px 0 0 160px;
  }
